@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans), sans-serif;
  color: #1a1a1a;
  background-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #fcfcfc;
    background-color: #000000;
  }
}

